.navbar-brand {
    background-color: #4aaaa5;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.main-image {
    
    float: left;
    padding: 10px;
}
#sticky-footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid #4aaaa5 10px;
}
.container-fluid {
   
    margin: 10px;
    
    padding:20px;
    border: 1px solid black;
    overflow: auto;
    background-color: white;
  
}
body {
    background-image: url("../images/wavy-dots.png");
}
.img-fluid {
    max-width: 100%;
    
}
.btn {
    background-color: #4aaaa5;
}
.pics {
    padding: 10px;
}
.text-block1 {
    border-bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    width: 200;
}