
body {
    background-image: url("../images/papyrus.png");
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #ffffff;
}

#links {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    float: left;
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 0;
}
#name {
    background-color: #4aaaa5;
    width: 20%;
    color: #ffffff;
    padding: 10px;
    float: left;
    font-size: 32px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
#main {
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    border: solid black 1px;
    padding: 10px;
}
#contact {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #666666;
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 30px;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}
h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container {
    background-color: #ffffff;
    margin: 0 auto;
}
#main-container {
    background-color: #ffffff;
    margin: 0 auto;
    width: 960px;
}
.grid-container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    padding: 10px;
    column-gap: 30px;
    row-gap: 30px;
}
.grid-item {
    
    border: 1px solid brown;
    height: 150px;
    width: 150px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}